@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --heroNfooter: #1f2937;
    --heroMainText: #f9faf8;
    --hero-secondaryText: #e5e7eb;
    --button-color: #3882f6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    /* flex: 1 1 auto; */
    /* justify-content: space-around; */
    min-height: 100vh;
}

.content {
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.header, .part-one {
    background-color: var(--heroNfooter);
    color: var(--heroMainText);
}

.header > p, .left-text > h3 {
    font-weight: bold;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
}

 li {
    display: inline;
    list-style: none;
    padding: 8px;
    font-size: 12px;
 }
 .part-one { /* Content one */
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 1rem 6rem;
    gap: 12px;
 }
 
 .left-text {
    display:flex-flow;
 }

 .left-text > button {    /*SPACING BETWEEN ELEMENTS*/
    background-color: var(--button-color);
    padding: 4px 24px;
    border-radius: 6px;
    border-style: none;
    color: var(--heroMainText)
 }

 .img-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 850px;
    max-width: 850px;
    min-height:150px;
    background-color: gray;
    padding:0 1rem;
 }

.part-two {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0; */
    padding: 2rem 6rem;
}

.boxes {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
.outer {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    font-size: 12px;
    padding: 1rem;
}


.outer p {
    display: inline-block;
    text-align: center;
    margin-top: 8px;
    width: 100px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    border: solid 2.5px;
    border-color: #3882f6;
    border-radius:8px;
    width: 100px;
    height: 100px;
    padding-bottom: 6px;
}

.part-three { /* Content three */
    background-color: var(--hero-secondaryText);
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    font-weight: 100;
    font-size:24px;
    font-style:  italic;
    color: var(--heroNfooter);
    padding:6rem;
    /* ADD PADDING FOR THE QUOTE */
}
.part-three > p {
    display: flex;
    justify-content: end;
}

.part-three p span {
    display: flex;
    /* flex-direction: row; */
    font-weight: 800;
    font-size: 16px;
    font-style: normal;
    padding-top: 12px;
}

.part-four { /* Content four */
    display: flex;
    padding: 1rem 6rem;
}

.blue-box {
    background-color: var(--button-color);
    border-radius: 12px;
    padding: 2rem 4rem;
    gap:12px;
    display:inline-flex;
    color: var(--hero-secondaryText);
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.call-to-action {
    font-weight: 800;
}
.blue-box button {
    background-color: var(--button-color);
    padding: 0 1.5rem;
    border: solid 2px;
    border-radius: 6px;
    width: 100px;
    height: 35px;
    color: var(--heroMainText);
    font-size: 12px;
}

.footer {
    background-color: var(--heroNfooter);
    color: var(--hero-secondaryText);
    font-size: 12px;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items:center;
}