@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --heroNfooter: #1f2937;
    --heroMainText: #f9faf8;
    --hero-secondaryText: #e5e7eb;
    --button-color: #3882f6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    font-family: "Roboto", sans-serif;
}

body {
    display: block;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.content {
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header, .part-one {
    background-color: var(--heroNfooter);
}

.part-three {
    background-color: var(--hero-secondaryText);
    display: flex;
    font-weight: 100;
    /* font-family: "Roboto", sans-serif; */
    font-style: italic;
    color: var(--heroNfooter);
    margin: 0;
    padding:10%;
}

span {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: 800;
    font-size: 12px;
    font-style: normal;
}


.blue-box {
    background-color: var(--button-color);
    border-radius: 12px;
    padding: 10%;
    display: flex;
    color: var(--hero-secondaryText)
}

.call-to-action {
    font-weight: 800;
}

.footer {
    background-color: var(--heroNfooter);
    color: var(--hero-secondaryText);
    font-size: 12px;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}