@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --heroNfooter: #1f2937;
    --heroMainText: #f9faf8;
    --hero-secondaryText: #e5e7eb;
    --button-color: #3882f6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    /* flex: 1 1 auto; */
    /* justify-content: space-around; */
    min-height: 100vh;
}

.content {
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.header, .part-one {
    background-color: var(--heroNfooter);
    color: var(--heroMainText);
}

.header > p, .left-text > h3 {
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
}

 li {
    display: inline;
    list-style: none;
    padding: 8px;
    font-size: 12px;
 }
 .part-one { /* Content one */
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 1rem 6rem;
    gap: 12px;
 }
 
 .left-text {
    display:flex-flow;
    gap: 12px;
 }

 .left-text > button {    /*SPACING BETWEEN ELEMENTS*/
    background-color: var(--button-color);
    padding: 4px 24px;
    border-radius: 6px;
    border-style: none;
    color: var(--heroMainText)
 }

 .img-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 850px;
    min-height:150px;
    background-color: gray;
    padding:0 1rem;
 }

.part-two {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem 6rem;
}

.boxes {
    display: inline-flex;
    padding: 2rem;
}
.outer {
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: column;
    font-size: 12px;
}

.outer > p {
    display: inline-block;
}

.box {
    border: solid 2.5px;
    border-color: #3882f6;
    border-radius:8px;
    width:100px;
    height: 100px;
    /* padding: 6px; */
}

.part-three { /* Content three */
    background-color: var(--hero-secondaryText);
    display: flex;
    flex-direction: column;
    font-weight: 100;
    font-style: italic;
    color: var(--heroNfooter);
    padding:1rem 6rem;
    /* ADD PADDING FOR THE QUOTE */
}
.part-three > p {
    display: flex;
}

.part-four { /* Content four */
    display: flex;
    padding: 10%;
}

span {
    display: flex;
    flex-direction: row;
    font-weight: 800;
    font-size: 12px;
    font-style: normal;
}


.blue-box {
    background-color: var(--button-color);
    border-radius: 12px;
    padding: 5%;
    gap:12px;
    display:inline-block;
    color: var(--hero-secondaryText);
    width: 100%;
    /* flex-grow: 1; */
}

.call-to-action {
    font-weight: 800;
}

.footer {
    background-color: var(--heroNfooter);
    color: var(--hero-secondaryText);
    font-size: 12px;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items:center;
}